.views-polygon-search-control a {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: white url("../images/font-awesome_pen_dis.png") center center no-repeat;
    background-size: 16px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    margin: 2px;
}
.views-polygon-search-control a.remove-polygon {
    background-image: url("../images/font-awesome_magic_dis.png");
}
.views-polygon-search-control a.remove-all-polygon {
    background-image: url("../images/font-awesome_remove_dis.png");
}
.views-polygon-search-control a.enabled {
    background-image: url("../images/font-awesome_pen.png");
}
.views-polygon-search-control a.enabled.remove-polygon {
    background-image: url("../images/font-awesome_magic.png");
}
.views-polygon-search-control a.enabled.remove-all-polygon {
    background-image: url("../images/font-awesome_remove.png");
}

.views-polygon-search-control a:hover,
.views-polygon-search-control a:focus {
    border: none;
}
.mode-create {
    cursor: pointer;
}
path.drawing-line,
path.tracer {
    fill: #b4cd8a;
    stroke: #50622b;
    stroke-width: 2;
    fill-opacity: .75;
}
div.polygon-elbow {
    background-color: #95bc59;
    box-shadow: 0 0 0 2px white, 0 0 10px rgba(0, 0, 0, .35);
    border-radius: 50%;
    cursor: move;
    outline: none;
    transition: background-color .25s;
}
.mode-create svg.tracer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
